@import "tailwindcss";

:root {
    --background: #0D0D0D; /* Deep Onyx */
    --foreground: #F9F7F2; /* Ivory */
    --gold: #D4AF37;       /* Lekki Gold */
    --stone: #8E8E8E;      /* Muted Grey */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
  --color-stone: var(--stone);
  --font-jakarta: var(--font-jakarta);
  --font-cormorant: var(--font-cormorant);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta), sans-serif;
}

h1, h2, h3, .serif {
    font-family: var(--font-cormorant), serif;
  }
